.loader {
  animation: rotate 1.5s infinite linear;
  box-shadow: 0 0 75px;
  border-radius: 50%;
  opacity: 0.75;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.75);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(0.75);
  }
}
